/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

#invoice-POS {
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  border-radius: 10px;
}

#invoice-POS h2 {
  margin: 0;
}

#invoice-POS .info p {
  margin: 5px 0;
}

#table {
  margin-top: 20px;
}

#table table {
  width: 100%;
  border-collapse: collapse;
}

#table th, #table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#table th {
  background: #f1f1f1;
}

#legalcopy {
  margin-top: 20px;
  font-size: 0.9em;
  color: #555;
}

.pay-now-button {
  padding: 10px 20px;

  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}



/* Responsive styles */
@media (max-width: 768px) {
  #invoice-POS {
    width: 90%;
    padding: 15px;
  }

  #invoice-POS h2 {
    font-size: 1.2em;
  }

  #table th, #table td {
    font-size: 0.9em;
    padding: 5px;
  }

  .pay-now-button {
    font-size: 0.9em;
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  #invoice-POS {
    padding: 10px;
  }

  #invoice-POS h2 {
    font-size: 1em;
  }

  #table th, #table td {
    font-size: 0.8em;
    padding: 4px;
  }

  .pay-now-button {
    font-size: 0.8em;
    padding: 6px 10px;
  }
}
